#restart_popup {
  display: none;
  font-family: "Ubuntu", sans-serif;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  background-color: #62bff9;
  border: 5px solid black;
  height: 600;
  width: 400;
  transform: translate(-50%, -50%);
}

#restart_naslov {
  background-color: #62bff9;
  text-align: center;
}

#restart_popup_dugme {
  background-color: #223843;
  color: #f0e2e7;
  border-top: 5px solid black;
  padding: 50px;
  font-size: xx-large;
}

#restart_popup_dugme:hover {
  color: #fff05a;
}
