table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

td {
  padding: 0px;
  text-align: center;
  width: 33.33%;
  height: 33.33%;
  border: 5px solid black;
}

.polje {
  width: 100%;
  height: 100%;
  display: block;
  padding: 50px;
  border-radius: 0;
  font-size: xx-large;
  font-weight: bold;
  background-color: white;
  color: white;
}

.polje:hover {
  background-color: gray;
}
